
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.\/]+) Controller/$1Controller.php [NC,L]

    RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
    RewriteRule ^ /%1 [R=301,NE,L]

    RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
    RewriteRule ^ /%1 [R=301,NE,L]
</IfModule>

<ifModule mod_alias.c>
    Redirect "/index.php" "/home"
    ErrorDocument 404 "/error/404"
</ifModule>
  